@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --line-color: #e5e7eb;
  scroll-behavior: smooth;
  
}
@keyframes smoothScrollAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.smooth-scroll-delayed {
  animation: smoothScrollAnimation 1s ease-in-out forwards;
  animation-delay: 0.5s; /* Adjust the delay as needed */
}
html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}

::-webkit-scrollbar {
  width: 0px;
}

.text-gr {
  background-image: linear-gradient(to bottom, #e2e8f0, #4a5568);
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.3);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: color 300ms ease;
}

.line-gr {
  bottom: 0;
  height: 1px;
  width: 100%;
  background-image: linear-gradient(
    to right,
    transparent,
    #3b82f6,
    transparent
  );
  transition: all 300ms ease;
  opacity: 0;
}

.line-gr:hover {
  opacity: 1;
  filter: drop-shadow(
    0 0 10px #3b82f6
  ); /* Adjust color and shadow size as needed */
}

::-webkit-scrollbar {
  width: 0px;
}
